body, html {
  height: 100%;
  background-color: black;
}

img {
  margin-top: 50px;
  width: 80%;
  height: auto;
}

.info {
  margin-top: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
  background: rgba(94, 92, 92, 0.459);
}